nav {
    
    text-align: center;
}

h1 {
    color: red;
    font-family: 'Coda Caption', sans-serif;
}

h2 {
    color: blueviolet;
    font-family: 'Coda Caption', sans-serif;
}
h4 {
    color: seagreen;
    font-family: 'Coda Caption', sans-serif;
}
p {
    font-family: 'PT Sans Narrow', sans-serif;
}



